<a id="open-create-trip">Create Trip</a>
<div id="create-trip-modal" class="modal">
<div class="modal-content">
<body>
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 <h1>Create trip!</h1>
<%= form_with(model: @new_trip, action: '/trips', method: 'post', local: true) do |form| %>
  <% if @new_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @new_trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="create_trip_form">
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :trip_name %>
  </div>

  <div class="field">
    <%= form.label :accommodation_url %>
    <%= form.text_field :accomodation_url, id: :trip_accomodation_url %>
  </div>

  <div class="field">
    <%= form.label :start_location %>
    <%= form.text_field :start_location, id: :trip_start_location %>
  </div>

    <div class="field">
    <%= form.label :end_location %>
    <%= form.text_field :end_location, id: :trip_end_location %>
  </div>

  <div class="field">
      <%= form.select(:type_of_trip) do %>
        <% trip_types.each do |c| %>
          <%= content_tag(:option, c.first, value: c.first) %>
        <% end %>
      <% end %>
  </div> 

  <div class="field">
    <%= form.label :price_per_night %>
    <%= form.number_field :price_per_night, :step => 0.01, :min => 0, id: :trip_price_per_night %>
  </div>

  <div class="field">
    <%= form.label :number_of_possible_attendees %>
    <%= form.number_field :number_of_possible_attendees, :min => 0, id: :trip_number_of_possible_attendees %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :trip_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date, id: :trip_end_date %>
  </div>

  <div class="field">
    <%= form.hidden_field :total_possible_cost, :value => 0 %>
  </div>
  
  <div class="field">
    <%= form.hidden_field :total_confirmed_cost, :value => 0 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</body>
</div>
</div>

<style>
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>

<script>
(function(){

  // Get the modal
  var modal = document.getElementById('create-trip-modal');

  // Get the button that opens the modal
  var btn = document.getElementById("open-create-trip");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal 
  btn.onclick = function() {
      modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
      modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }
})();

</script>