<%= form_for [@trip, @expense], local: true do |form| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this @expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="payer">
  <%= hidden_field_tag "trip_id", @trip.id %>
  <%= hidden_field_tag "split_type", "split_by_amount" %>

  <%= form.label "Paid by:" %>
    <%= form.select(:user_id) do %>
      <%= options_from_collection_for_select(@trip_attendees, :id, :name) %>
    <% end %>
  </div>

  <div class="field" id="split_between">
    <%= form.fields_for :payee do |payee_form| %>
    <%= payee_form.label "Split between:" %>
    <% @trip_attendees.each do |attendee| %>
      <%= payee_form.fields_for :split, index: attendee.id do |b| %>
        <div class="collection-check-box">
          <%= hidden_field_tag "expense_id", @expense.id %>
          <%= b.label attendee.name %>
          <%= b.number_field :portion, id: attendee.id %>
        </div>
      <% end %>
      <% end %>
    <% end %>
  </div>


  <div class="field">
    <%= form.label "Total Amount" %>
    <%= form.number_field :amount, id: :expense_amount %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :expense_description %>
  </div>


  <div class="actions">
    <%= form.submit "Add expense" 'data-toggle' => "modal", 'data-target' => '#modal-window' %>
  </div>
<% end %>
