<div class="message-footer">
<button type="button" id="group-chat-btn" class="btn btn-info btn-lg" data-target="#group-chat"><%= @trip.name %> chat</button>
</div>
<div class="container-fluid" id="group-chat" style="display:none;">
<div class="row col-md-8 col-md-offset-2">
<div class="group-pop-up">
<div class="messages-container">
<div class="panel panel-default messages">
  <% if @trip.messages.any? %>
    <div class="panel-body" id="messages">
    <% @trip.messages.each do |message| %>
    <p><strong><%= message.user.name %></strong><i> says</i> : <%= message.content %></p>
    <% end %>
    </div>
  <%else%>
    <div class="panel-body hidden" id="messages">
    </div>
  <%end%>
</div>

<%= form_for [@trip, @message], remote: true, authenticity_token: true do |f| %>
  <%= f.hidden_field :trip_id, value: @trip.id %>
<div class="tripMessage">
  <%= f.text_area :content, class: "form-control", data: {textarea: "message"}, id: "message_content", placeholder: "Your message here.." %>

  <%= f.submit "send", class: "btn btn-primary", id: "send_message", data: {send: "message"} %>
<% end %>
</div>
</div>

</div>
</div>
</div>

<script>
$(document).ready(function() {
  $("#send_message").on("click", function(event) {
    setTimeout(function() {
      $("#message_content").val("");
    }, 100);
      var elem = document.getElementById('messages');
      elem.scrollTop = elem.scrollHeight;
  });
});
</script>

<style>
.message-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkcyan;
    color: white;
    text-align: center;
}
#group-chat-btn {
  float: right;
  margin-right: 100px;
}
.group-pop-up {
  float: right;
  margin-right: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 25%;
  background-color: darkcyan;
  text-align: center;
}
</style>