<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Accomodation url</th>
      <th>Price per night</th>
      <th>Number of possible attendees</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Total possible cost</th>
      <th>Total confirmed cost</th>
      <th>Locked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.name %></td>
        <td><%= trip.accomodation_url %></td>
        <td><%= trip.price_per_night %></td>
        <td><%= trip.number_of_possible_attendees %></td>
        <td><%= trip.start_date %></td>
        <td><%= trip.end_date %></td>
        <td><%= trip.total_possible_cost %></td>
        <td><%= trip.total_confirmed_cost %></td>
        <td><%= trip.locked %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
