<script>
$(document).ready(function() {
  $("#addexpensebtn").on("click", function(event) {
    $("#addexpenseform").toggle("blind", 1000);
  });
});

</script>


<%= render 'layouts/nav_bar' %>
<body>
<h1 id="trip-header">
<strong>
<%= @trip.name %>
</strong>
</h1>
<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="dashboard">
    <div class="attendee column">
      <h1>Attendees</h1>

      <%= render :partial => './attendees/attendees_table/', trip_attendees: @trip_attendees , attendees_for_id: @attendees_for_id, current_user: :current_user, attendees_ids: @attendees_ids %>
      </div>

      <div class="expenses column">
        <h1>Expenses</h1>
          <% if @trip.started %>
            <% if @attendees_ids.include? current_user.id %>
              <% if !@trip.ended %>
              <button type="button" id="addexpensebtn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Expense</button>
              <div class="container-fluid" id="addexpenseform" style="display:none;">
              <br>
    <div class="row-fluid">
        <div class="span8 well">
            <ul class="nav nav-tabs">
                <li class="active"> <a href="#even" data-target="#even" data-toggle="tab">Split evenly</a>

                </li>
                <li><a href="#portion" data-target="#portion" data-toggle="tab">By Amount</a>

                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="even">
                <%= render :partial => 'create_expense_form', expense: @expense, trip: @trip, payee: @payee %>
                </div>
                <div class="tab-pane" id="portion">
                <%= render :partial => 'expense_options_form', expense: @expense, trip: @trip, payee: @payee, trip_attendees: @trip_attendees %>
                </div>
            </div>
        </div>
    </div>
</div>
              <% else %>
                <%= render :partial => 'show_expense_tallies', owe_statemets: @owe_statements %>
              <% end %>
            <% end %>
            <%= render :partial => './expenses/expense_list', expenses: @expenses, trip: @trip %>
          <% end %>
      </div>

      <div class="trip-info column">
        <h1>Trip Info</h1>

        <p>
          <strong>Accomodation url:</strong></br>
            <%= @trip.accomodation_url %>
        </p>

        <p>
          <strong>Price per night:</strong></br>
          $<%= @trip.price_per_night %>
        </p>

        <p>
          <strong>Trip length:</strong></br>
          <%= @trip_length_night %> night(s)
        </p>

        <p>
          <strong>Dates:</strong></br>
          <%= @trip.start_date.strftime("%B %d, %Y") %> to <%= @trip.end_date.strftime("%B %d, %Y") %>
        </p>

        <p>
          <strong>Number of possible attendees:</strong></br>
            <%= @trip.number_of_possible_attendees %>
        </p>

        <p>
          <strong>Accomodation per person (maximum people):</strong></br>
          $<%= @trip.total_possible_cost %>
        </p>

        <p>
          <strong>Accomodation per person (confirmed numbers):</strong></br>
          $<%= @trip.total_confirmed_cost  %>
        </p>

        <%= link_to 'Edit', edit_trip_path(@trip) %> |
        <%= link_to 'Back', trips_path %>

        <% if @attendees.count > 0 %>
          <%= render :partial => 'trip_boolean_form', trip: @trip %>
        <% end %>

      </div>
    </div>
  </div>
</body>







