<%= render 'layouts/nav_bar' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


  <% @trips_of_user.each do |trip| %>
    <%= link_to trip_path(trip.id) do %>  
    <%= trip.name %><br>
    <%= trip.start_date %> to <%= trip.end_date %><br><br>
    <% end %>
  <% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
