<%= render 'layouts/nav_bar' %>
<p id="notice"><%= notice %></p>
<body>
<h1 id="user-header">
<strong>
<%= @user.name %>
</strong>
</h1>


<div class="user-email">
  <strong>Email:</strong>
  <%= @user.email %>
</div>

<div class="container-fluid">
  <div class="row">
      <% @trips_of_user.each do |trip| %>
        <% if trip.accomodation_url %>
        <% image_selector = BestImage::ImageSelector.new(trip[:accomodation_url]) %>

        <% if image_selector.best_image %>
          <% @best_image = image_selector.best_image %>
        <% else %>
          <% image_selector.errors %>
        <% end %>
        <% end %>
      <div class="col-lg-4">
      <div class="trip-link">
        <%= link_to trip_path(trip.id) do %>  
        | <strong><%= trip.name %></strong> |
        <%= trip.start_date %> to <%= trip.end_date %> |
        <% end %>
        <% if  trip.accomodation_url %>
        <div class="accomodation-image">
          <%= image_tag(@best_image) %>
        </div>
        <% end %>
      </div>
      </div>
      <% end %>
  </div>
</div>
</body>
