<%= render 'layouts/nav_bar' %>
<p id="notice"><%= notice %></p>
<body>
<h1 id="user-header">
<strong>
<%= @user.name %>
</strong>
</h1>


<div class="user-email">
  <strong>Email:</strong>
  <%= @user.email %>
</div>

<div class="container-fluid">
  <div class="row">
      <% @trips_of_user.each do |trip| %>
      <div class="col-lg-4">
      <div class="trip-link">
        <%= link_to trip_path(trip.id) do %>  
        | <strong><%= trip.name %></strong> |
        <%= trip.start_date %> to <%= trip.end_date %> |
        <br>
        <br>
        <p> Friends that came on trip: </p>
        <% trip.attendees.each do |attendee| %>
        <% friend = User.find(attendee.user_id) %>
        <%= friend.name %>
        <% end %>
        <% end %>
      </div>
      </div>
      <% end %>
  </div>
</div>
</body>
      
