<p id="notice"><%= notice %></p>

<h1>Attendees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><i><%= attendee.user.name %></i></td>
        <td>Owes: <%= attendee.balance %></td>
        <td><button><%= link_to "I can't go :(", trip_attendee_url(@trip, attendee), method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= button_to "Confirm", action: "create" %>

<br>


