<script>
$(document).ready(function() {
  $(".editexpense").on("click", function(event) {
    var target = '#editexpensecontainer' + $(this).attr('datatarget');
    $(target).toggle("blind", 1000);
  });
});

</script>

<h3>Expense List</h3>

<div class="container-fluid">
  <div class="tableheaders">
    <span style="width: 20%">Paid by:</span>
    <span style="width: 20%">Amount</span>
    <span style="width: 50%">Description</span>
  </div>
  <br>
  <% @expenses.each do |expense| %>
    <table>
      <tbody>
        <tr>
          <td><%= expense.user.name %></td>
          <td><%= expense.amount %></td>
          <td><%= expense.description %></td>
            <% if @attendees_ids.include? current_user.id %>
              <% if !@trip.ended %>
                <td><%= link_to 'Edit', [:inline_edit, @trip, expense], class: "editexpense", datatarget: expense.id, remote: true %></td>
                <td><%= link_to 'Destroy', trip_expense_url(@trip, expense), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            <% end %>
        </tr>
      </tbody>
    </table>
    <div class='container-fluid' id='editexpensecontainer<%= expense.id %>' style="display: none">
    <br>
    <div class="row-fluid">
        <div class="span8 well">
            <ul class="nav nav-tabs">
                <li class="active"> <a href="#editeven" data-target="#editeven" data-toggle="tab">
                  Split evenly
                </a></li>
                <li><a href="#editportion" data-target="#editportion" data-toggle="tab">
                  By Amount
                </a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active fade in" id="editeven">
                <%= render :partial => 'update_expense_form', expense: expense, expenses: @expenses, trip: @trip, payee: @payee %>
              </div>
              <div class="tab-pane" id="editportion">
                <%= render :partial => 'update_expense_options_form', expense: expense, expenses: @expenses, trip: @trip, payee: @payee %>
              </div>
            </div>
        </div>
    </div>
    </div>
    <% end %>
  <br>
</div>



