<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Paid by:</th>
      <th>Amount</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <div class="expense-container">
      <tr>
        <td><%= expense.user.name %></td>
        <td><%= expense.amount %></td>
        <td><%= expense.description %></td>
        <% if @attendees_ids.include? current_user.id %>
          <% if !@trip.ended %>
            <td><%= link_to 'Edit', [:inline_edit, @trip, expense], remote: true %></td>
            <td><%= link_to 'Destroy', trip_expense_url(@trip, expense), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <div id="expense-edit-partial"></div>
          <% end %>
        <% end %>
      </tr>
      </div>
    <% end %>
  </tbody>
</table>

<br>


